.navbar {
  margin-bottom: 1rem;
  background-color: #38a3a5;
  color: white;
}

.navbar li:hover {
  cursor: pointer;
}

.navbar image {
  padding-left: 0;
}

.main-header {
  font-family: "Libre Baskerville", serif;
}

.form-button {
  padding-top: 0.5rem;
}

.button-primary {
  background-color: #57cc99;
  border-color: #57cc99;
  color: #44475a;
}

#event-description {
  text-align: left;
}

ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}